body {
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("../images/Green_full.png");
background-size: cover;
color: white;
font-weight: bold;

}

h1 {
    color:goldenrod;
}

#message-el {
font-style:italic;
}

#sg {
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #016f32;
    border: none;
}
