@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding:0;
}

body {
    height: 2000px;
}

#some-block {
    background: red;
    color: #fff;
    text-align:center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    top: 50px;
    float: right;

}

#header, #footer {
    width: 100%;
    height: 70px;
    text-align:center;
    border-bottom: 4px solid silver;
    background: #333;
    color: #fff;
    line-height: 70px;
    margin-bottom: 50px;
    float: left;
}

#nav {
    list-style: none;
    display: block;
    float: left;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 50px;

}

#nav li {
display: inline;
background: #fafafa;
border: 1px solid silver;
padding: 0 20px;
cursor: pointer;

}

#nav li:hover {
    color: #fff;
    background: #333;
    border-radius: 5px;
    border-color: #333;
}

#nav li:not(:last-of-type) {
    margin-right: 20px;
}

#main {
    width: 50%;
    margin-left: 10%;
    background: #fafafa;
    border: 1px solid silver;
    padding:20px 2.5%;
    float: left;
    position: relative;
    z-index: 1;
}


#aside {
    width:20%;
    padding: 20px 2.5%;
    background: #fafafa;
    border: 1px solid silver;
    float: left;
    margin-left: 5%;
    position: relative;
    bottom: -10px;
    left: -200px;
    position: relative;
    z-index: 0;
}

#footer {
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 4px solid silver;
    float: left;
}


/*
.block1{
    width: 200px;
    height: 200px;
    margin: 20px;
    background: red;
}


#first {
float: right;
}

#second {
    float: left;
    background: blue;
}


.main-text1{
    color: red;
    text-align:center ;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Indie Flower', cursive;
    text-transform: lowercase;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 50px;
    text-decoration: overline;
    cursor:pointer;
}


.block {
background: red;
height: 200px;
width: 200px;
border: 7px dotted silver;
border-bottom: 0;
border-top-style:solid;
border-style: double;
border-radius: 15px 50%;
opacity: 0.9;

margin: 20px 50px;
padding: 20px;

display: block;
}


body{
    color: chartreuse;
background:#7f9ab3 url('http://www.fubiz.net/wp-content/uploads/2019/11/LOVELY-QUARANTINE-1.jpg') no-repeat center top;
height: 100vh;
background-size: cover;
background-attachment: fixed;

    

    background-color: #7f9ab3;
    background-image: url('http://www.fubiz.net/wp-content/uploads/2019/11/LOVELY-QUARANTINE-1.jpg');
   background-repeat: no-repeat;
   background-position: center;
}




/*#some-id::after{
    content: '123';
    color: red;
    text-decoration: line-through;
}


#some-id::before{
    content: '123';
    color: blueviolet;
    text-decoration: line-through;
}

p:last-of-type{
     text-decoration:overline;
     text-decoration-color: greenyellow;
     
}

p:first-of-type{
    text-decoration:line-through;
}

p.main_link::first-line{
    color: green;
}

p.text:not(:empty){
color: gray;
}

p.text:empty::after{
    content: attr(title);
    
    }

.main_link {
    color:red;
    text-decoration:none ;
    background-color: black;
    opacity: 0.5;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    margin: 20px;
    outline: 3px;
    outline-offset:15px;
}


.main_link:hover {
    color:blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}


.main_link:active{
    text-decoration: line-through;
}

.main_link:visited{
    color:gray ;
}



input:required{text-decoration: underline;}
input{color: blue;}
input:focus {color:red}

/*div, .main-text, #text-in-p, div p b {
    color: cadetblue;
}*/ 


