body {
    background: rgb(204, 229, 255) ;
}

#title {
    color: rgb(186, 133, 9);
}

.subtitle {
    color: rgb(200, 148, 30);
}


#service-image {
    

}


























/*body {
    background-color: #ffffff;
}

h2:hover{
    color: red;
}


h2[class=title2]{
    color: blue;
}

#services{
    color: green;
}

li:nth-child(2){
color: steelblue;
}

/*#google-link:link{
color: blue;
}

#google-link:visited{
color: red;
}

h2 + a {
    color: red;
}

textarea ~ button {
    color: purple;
}

ul > li {
    color: blue;
}

ul li {
    color: green;
}

img[src*="landscape"] {
    border: 10px solid black;
}

h2[class~=article-subtitle] {
background: green;
}*/