@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding:0;
}

.main-text1{
    color: red;
    text-align:center ;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Indie Flower', cursive;
    text-transform: lowercase;
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 50px;
    text-decoration: overline;
    cursor:pointer;
}


.block {
background: red;
height: 200px;
width: 200px;
border: 7px dotted silver;
border-bottom: 0;
border-top-style:solid;
border-style: double;
border-radius: 15px 50%;
opacity: 0.9;

margin: 20px 50px;
padding: 20px;

display: block;
}

/*
body{
    color: chartreuse;
background:#7f9ab3 url('http://www.fubiz.net/wp-content/uploads/2019/11/LOVELY-QUARANTINE-1.jpg') no-repeat center top;
height: 100vh;
background-size: cover;
background-attachment: fixed;

    

    background-color: #7f9ab3;
    background-image: url('http://www.fubiz.net/wp-content/uploads/2019/11/LOVELY-QUARANTINE-1.jpg');
   background-repeat: no-repeat;
   background-position: center;
}




/*#some-id::after{
    content: '123';
    color: red;
    text-decoration: line-through;
}


#some-id::before{
    content: '123';
    color: blueviolet;
    text-decoration: line-through;
}

p:last-of-type{
     text-decoration:overline;
     text-decoration-color: greenyellow;
     
}

p:first-of-type{
    text-decoration:line-through;
}

p.main_link::first-line{
    color: green;
}

p.text:not(:empty){
color: gray;
}

p.text:empty::after{
    content: attr(title);
    
    }

.main_link {
    color:red;
    text-decoration:none ;
    background-color: black;
    opacity: 0.5;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    margin: 20px;
    outline: 3px;
    outline-offset:15px;
}


.main_link:hover {
    color:blue;
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer;
}


.main_link:active{
    text-decoration: line-through;
}

.main_link:visited{
    color:gray ;
}



input:required{text-decoration: underline;}
input{color: blue;}
input:focus {color:red}

/*div, .main-text, #text-in-p, div p b {
    color: cadetblue;
}*/ 


